{{>head title="Posted Trips"}}
{{>navbar}}

 
<div class="container">
<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Location</th>
      <th scope="col">Gender</th>
      <th scope="col">Date</th>
      <th scope="col">Direction</th>
      <th scope="col">Time</th>
      <th scope="col">Department</th>
      <th scope="col">selected</th>
    </tr>
  </thead>
  <tbody>
    {{#each user}}
    <tr>
      <th scope="row">{{@index_1}}</th>
      <td>{{this.loc}}</td>
      <td>{{this.gender}}</td>
      <td>{{this.date}}</td>
      <td>{{this.dir}}</td>
      <td>{{this.trip_t}}</td>
      <td>{{this.dep}}</td>
      <td>{{this.selected}}</td>

    <!--
        disabling the details buttion on the posted page (pending)
    -->

    if ({{this.selected}}==true){
    <td>
      <form action="/details" method="post">  <!-- fetch details from the booked table using this selected_id -->
          <input type="hidden" name="selected_id" value="{{this._id}}">  
          <button class="nav-link" type="submit" >first details</button>
          </form>
    </td>
    }
    else if ({{this.selected}}==false){
        <form action="/selected_post" method="post">  <!-- fetch details from the booked table using this selected_id -->
          <input type="hidden" name="selected_id" value="{{this._id}}">  
          <button class="nav-link" type="submit" disabled>second details</button>
          </form>
          
    }
    </tr>
    {{/each}}

  </tbody>
</table>
</div>

{{>tail}}