{{>head title="Details"}}

{{>navbar}}

<div class="container">
<p>
<h1 class="fw-light">Details of the rider selector</h1>
</p>

<!--
<h1 class="display-6">Display 6</h1>

<h1> this is the details page {{person}} </h1>
-->



<dl class="row">
  <dt class="col-sm-3"> Name </dt>
  <dd class="col-sm-9"> {{person.first_name}} {{person.last_name}}</dd>

  <dt class="col-sm-3">Contact Number</dt>
  <dd class="col-sm-9"> {{person.phone_no}} </dd>

  <dt class="col-sm-3">Department</dt>
  <dd class="col-sm-9"> {{person.department}} </dd>

  <dt class="col-sm-3">Gender</dt>
  <dd class="col-sm-9"> {{person.gender}} </dd>

  <dt class="col-sm-3 text-truncate">Email</dt>
  <dd class="col-sm-9">{{person.email}}</dd>

  
</dl>
</div>
{{>tail}}